body{
    background-image: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
    padding: 0;
    margin: 0;
    color: #444;
    text-align: center;
}

/* html {
    scroll-behavior: smooth;
} */

header{
    width: 100%;
    background-image: linear-gradient(to top, #fdd6bd 10%, #009efd 100%);
    padding: 0px;
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 5px 8px #444;
}

/* botão home */
#home{
    position: fixed;
    left: 5px;
    bottom: 120px;
}

.nome-boleria{
    display: flex;
    justify-content: flex-start;
    font-size: 2em;
    /* padding: 10px;
    border: 0.2px solid #444;
    border-radius: 25px;
    background-image: linear-gradient(to top, #fdd6bd 10%, #009efd 100%); */
}

header .container {

    display: flex;
    align-items: center;
    justify-content: space-between;
  
    width: 90%;
    max-width: 980px;
    
    margin: auto;
}

header nav ul{
    display: flex;
}

nav a {
    text-decoration: none;
}

nav ul li{
    text-align: center;
    display: flex;
    margin: 20px;
    padding: 7px;
    transition: all 0.5s;
}

nav ul li:hover{
    font-size: x-large;
    color: black;
}

.topnav #myLinks, .topnav .active {
    display: none;
}

.topnav {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.09);
    position: relative;
}

.topnav a {
    color: #444;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
  
.topnav a.icon {
    background-color: rgba(0, 0, 0, 0.09);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
  
.topnav a:hover {
    background-color: rgba(0, 0, 0, 0.09);
    color: #444;
}

/* conteúdo da página, exceto header e footer */
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #444;
    font-size: 14px;
}

/* classe sombra utilizada em alguns elementos */
.sombra{
    box-shadow: 5px 8px 12px black;
}

/* banner da capa da página , com o slide automático*/
.banner{
    width: 90%;
    max-width: 1000px;
    max-height: 600px;
    height: 75vh;
    border-radius: 100px;
    background-image: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img{
    opacity: 0;
    position: absolute;
    object-fit: cover;
    transition: opacity 1s;
}

.banner img.selected { 
    opacity: 1;
}

/* proporção do tamanho do bolo no banner */
.bolo-capa{
    width: 45%;
}

/* texto sobre como surigu a boleria, e quem é a boleira. */
#sobre{
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3em;
    height: auto;
}

/* tamanhos das imagens junto ao texto sobre. */
.bolo-sobre{
    width: 15%;
    border-radius: 30px;
    margin: 10px;
}

.bolo-antes{
    float: left;
    margin: 20px;
}

.bolo-depois{
    float: right;
    margin: 20px;
}
.bolo-antesEdepois{
    display: none;
}

.side-recheios{
    display: none;
}

/* tab - para separar os tipos de bolos */
#sabores, #bolo-vulcao, #chocotone{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}

/* definindo os tamanhos das fontes dentro do tab */
#sabores h2, #bolo-vulcao h2, #chocotone span{
    font-weight: bold;
    font-size: 1.4em;
}

/* imagens dentro do tab */
.bolo-cardapio{
    width: 45%;
    height: auto;
    border-radius: 30px;
}

.cardapios{
    font-size: 1em;
}

.massas-recheios{
    margin: 10px;
}

/* estilizando os botoes usados no TAB acima e botão HOME */
.bts, #home{
    outline:none;
    box-shadow: 0 9px #444;
    background-color: #f794a4;
    border: 1px solid #999;
    border-radius: 15px;
    color: #444;
    font-size: 1.2em;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    transition: background-color 1s, color 1s;
}

.bts:active, #home:active{
    box-shadow: 0 2px #444;
    transform: translateY(4px);
}

/* estilizando botões SIDE NAVIGATION - que será criado para escolher o tamanho do bolo */
.tamanhos{
    background-color: #f794a4;
    color: #444;
    border: 1px solid #444;
    border-radius: 15px;
    box-shadow: 5px 10px 12px rgba(0, 0, 0, 0.9);
    font-size: 1.2em;    
    margin: 10px;
    height: auto;
    padding: 10px;
    display: inline-block;
    transition: all, 0.5s;
}

.tamanhos:hover, .bts:hover, #home:hover{
    background-color: rgba(0, 0, 0, 0.09);
}

/* link para uma página tutorial de como cortar a fatia de bolo redondo */
#tutorial{
    font-size: 1.1em;
    text-align: center;
}

/* slide de bolos manual - para demonstração */
.bolos, .bolos-slide{
    width: 90%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* definindo o tamanho das imagens */
.imagem-slides{
    width: 45%;
    border-radius: 30px;
    box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.9);
}

/* texto extra - definindo tamanho e posição */
#extras{
    font-size: 1.1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

/* contatos da boleria e do dev */
footer{
    width: 100%;
    background-image: linear-gradient(to top, #009efd 0%, #f794a4 100%);
    padding: 5px;
    font-size: 0.8em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contatos{
    text-align: center;
    display: inline-block;
}

li{
    list-style: none;
}

.icon-rede-social{
    width: 35px;
    margin: 10px;
}

#rodape, #contatos{
    text-align: center;
}

/* media queries */
/* adaptando ao tamanho da tela de Laptop */
@media (max-width:1024px){

    header{
        font-size: 1em;
    }

    .banner{
        width: 80%;
        height: 70vh;
        border-radius: 50px;
    }
    
    .tamanhos, #tutorial{
        font-size: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* adaptando ao tamanho da tela de Tablet */
@media (max-width: 768px){
    #home{
        display: none;
    }

    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}

    .banner{
        width: 90%;
        height: 55vh;
        border-radius: 50px;
    }

    .bolo-antes, .bolo-depois{
        display: none;
    }

    #sobre{
        margin: 30px;
        display: flex;
        align-items: flex-start;
        font-size: 1em;
    }

    .bolo-antesEdepois{
        display: flex;
        width: 30%;
        height: auto;
        border-radius: 20px;
        margin: 10px;  
    }

    #sabores h2, #bolo-vulcao h2, #chocotone span{
        font-weight: bold;
        font-size: 1.2em;
    }
    
    .bolo-cardapio{
        width: 65%;
        border-radius: 30px;
    }
    
    .cardapios{
        font-size: 0.8em;
    }
    
    .massas-recheios{
        margin: 10px;
    }

    #tamanhos{
        width: 90%;
    }

    #extras{
        font-size: 0.9em;
    }

    #extras h3{
        font-weight: bold;
        font-size: 1em;
    }

    .icon-rede-social{
        width: 25px;
        margin: 8px;
    }
}

/* criando menu hamburguer -- menu-rockseat */
@media (max-width: 670px){

    nav{
        display: none;
    }

    .one, .two, .three{
        background-color: #444;
        height: 2px;
        width: 100%;
        margin: 6px auto;
        transition-duration: 0.7s;
    }

    .menu-toggle{
        width: 40px;
        height: 30px;
    }

    /* abrir tela do menu em toda tela - fullscreen */
    .menu-section.on{
        position: absolute;
        top: 0;
        left: 0;

        width: 100vw;
        height: 73vh;

        background-color: #f794a4;
        transition-duration: 1.5s;

        /* sobrepor sobre outras camadas no eixo z */
        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-section.on nav{
        display: flex;

    }
    
    .menu-section.on .menu-toggle{
        position: absolute;
        right: 35px;
        top: 15px;
    }

    .menu-section.on .menu-toggle .one{
        transform: rotate(45deg) translate(7px, 7px);
    }
    .menu-section.on .menu-toggle .two{
        opacity: 0;
    }
    
    .menu-section.on .menu-toggle .three{
        transform: rotate(-45deg) translate(4px, -6px);
    }

    nav ul li{
        display: flex;
        border: none;
        background-color: none;
    }
    .menu-section.on nav ul{
        text-align: center;
        display: block;
        margin: auto;
    }

    .menu-section.on nav ul a{
        transition-duration: 0.7s;
        font-size: 2.5rem;
        line-height: 4rem;
        display: block;
        margin: auto;
    }

}


/* adaptando ao tamanho da tela de Dispositivo Móvel */
@media (max-width: 425px){

    .menu-section.on{
        height: 50vh;
    }

    .menu-section.on nav ul a{
        font-size: 2rem;
        line-height: 2rem;
    }

    .nome-boleria{
        font-size: 3em;
        padding: 5px;
        border-radius: 15px;
        margin: 10px;
    }

    nav{
        display: none;
    }

    /* menu - w3schools */
    /* .topnav #myLinks, .topnav .active {
        display: flex;
    } */
    
    

    .banner{
        width: 90%;
        height: 30vh;
        border-radius: 30px;
    }

    .bolo-antesEdepois{
        display: none;
    }

    /* Sabores */
    .bolo-cardapio{
        display: none;
    }

    .imagem-slides{
        width: 60%;
    }

    #extras{
        font-size: 0.7em;
    }
    
    footer{
        font-size: 0.5em;
    }
    
    h4{
        font-size: 1.3em;
    }
}