body{
    background-color: #8A2BE2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0;
    margin: 0;
}

.fundo-gradiente{
    width: 80%;
    height: 600px;
    border-radius: 100px;
    background-image: linear-gradient(#bb8be9,  #8a2be2, #bb8be9, #8a2be2, #bb8be9);
    display: flex;
    justify-content: center;
    align-items: center;

}
header{
    width: 100%;
    height: 4em;
    background-color: #bb8be9;
    padding: 0px;
    font-size: 3.5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sombra{
    box-shadow: 5px 8px 12px black;
}

.nome-menu{
    display: flex;
    justify-content: flex-start;
    font-size: 6vh;
    background-color: aquamarine;
}

.menu{
    background-color: #8A2BE2;
    display: inline-block;
    margin: 10px;

}

#bolo-capa{
    width: 70vh;
}

#sobre{
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px;
    font-size: 2.5vh;

}

.bolo-sobre{
    width: 30vh;
    border-radius: 30px;
    margin: 10px;
}

.bolo-antes{
    float: left;
}

.bolo-depois{
    float: right;
}

#sabores{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.bolo-cardapio{
    width: 90vh;
    border-radius: 30px;
}

.cardapios{
    font-size: 3.5vh;
    margin: 80px;
}

.massas-recheios{
    margin: 20px;
}

.bolos{
    width: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.imagem-slides{
    width: 70vh;
    border-radius: 30px;
}





